version: '3.7'
services:
  db:
    # mysql:8.0（M1 Macのためにダイジェストで指定）
    image: mysql@sha256:5ca0a273ed28c73acaef91da8bf1eca3711bee94bce4c378d42846375e645a72
    ports:
      - "13306:3306"
    volumes:
      - ./docker/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: "mysql"
      MYSQL_DATABASE: "hobigon"
    security_opt:
      - seccomp:unconfined
